.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  height: 100px;
}

/* h1 {
  margin-top: 0px;
  margin-bottom: 0px;
} */

.content {
  padding-bottom: 5%;
  height: 100%;
}

/* Navigation Buttons */

.nav {
  position: fixed;
  left: 0px;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: white;
}

.nav a {
  display: block;
}

.nav button {
  width: 100px;
  height: 35px;
  text-align: right;
  font-size: 14px;
  font-weight: bolder;
  /* margin-bottom: 5px; */
  padding-right: 10px;
  /* background-color: rgb(214, 63, 63); */
  border: none;
}

.starter-container {
  display: none;
}

/* ------------------ */

/* Media Screen */