/* Default */
*, body {
  margin: 0;
  padding: 0;
}
/* -------- */
.App {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  color: white;
}
/* Banner */
.banner {
  text-align: center;
}
/* Menu Content */
#restaurant-info {
  margin-top: 3rem;
  text-align: center;
}
.menu-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.content {
  height: 100%;
}
.container, .banner {
  width: 80%;
  margin: auto;
}
h5 {
  margin-bottom: 1rem;
}
.price {
  float: right;
}
/* Navigation Buttons */
.nav {
  display: flex;
  justify-content: space-evenly;
}

/* ------------------ */

/* Media Screen */